.form4 {
    background-size: cover
}

.top {
    padding-bottom: 100px
}

.form-bg {
    padding: 20px
}

.form {
    background-color: white !important;
    padding: 50px
}

.form-group {
    margin-bottom: 20px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.form-control {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #61615e;
    background: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

button.contactBtn {
    display: block;
    padding: 11px 32px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 30px 0px
}

.btn-blue {
    background-color: #4285f4;
    color: #fff;
    border: 1px solid #4285f4
}

.social {
    border-radius: 3px;
    float: left;
    list-style: none;
    padding: 15px 10px;
    position: relative;
    text-align: center;
    margin: 20px;
}

.social li:first-child {
    margin-top: 0
}

.social li {
    margin-top: 10px
}

.social li a {
    display: block;
    background: #999999;
    color: #efefef;
    border-radius: 15px;
    text-decoration: none;
    line-height: 30px;
    width: 30px;
    font-size: 18px;
}

.social a.tw:hover {
    background: #00acee
}

.social a.fb:hover {
    background: #3b5998
}

.social a.gp:hover {
    background: #dd4b39
}